In [165]:
import pandas as pd
import numpy as np

# buat data frame dahulu
data = {
    'Nama': ['John', 'Sarah', 'Michael', 'Emma', 'David', 'Alice', 'Bob', 'Eva', 'Frank'],
    'Usia': [28, 24, 35, 30, 22, 25, 31, 29, 38],
    'Alamat': ['Jl. Merdeka No. 123', 'Jl. Raya Jaya No. 45', 'Jl. Harmoni 5A', 'Jl. Cendana 8', 'Jl. Indah 12',
               'Jl. Jalan Jalan 123', 'Jl. Boulevard 567', 'Jl. Pahlawan 789', 'Jl. Rukun 101'],
    'Jenis Kelamin': ['Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki',
                      'Perempuan', 'Laki-laki'],
    'Pendapatan': [55000.0, 48000.0, 67000.0, 60000.0, np.nan, np.nan, 70000.0, 55000.0, 75000.0],
    'Pernikahan': [True, False, True, True, False, False, True, False, True]
}

# Membuat DataFrame dari dictionary data
df = pd.DataFrame(data)
print(df)

      Nama  Usia                Alamat Jenis Kelamin  Pendapatan  Pernikahan
0     John    28   Jl. Merdeka No. 123     Laki-laki     55000.0        True
1    Sarah    24  Jl. Raya Jaya No. 45     Perempuan     48000.0       False
2  Michael    35        Jl. Harmoni 5A     Laki-laki     67000.0        True
3     Emma    30         Jl. Cendana 8     Perempuan     60000.0        True
4    David    22          Jl. Indah 12     Laki-laki         NaN       False
5    Alice    25   Jl. Jalan Jalan 123     Perempuan         NaN       False
6      Bob    31     Jl. Boulevard 567     Laki-laki     70000.0        True
7      Eva    29      Jl. Pahlawan 789     Perempuan     55000.0       False
8    Frank    38         Jl. Rukun 101     Laki-laki     75000.0        True

In [166]:
# handling NaN data
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
df['Pendapatan'] = imputer.fit_transform(df[['Pendapatan']])
print(df)

      Nama  Usia                Alamat Jenis Kelamin    Pendapatan  Pernikahan
0     John    28   Jl. Merdeka No. 123     Laki-laki  55000.000000        True
1    Sarah    24  Jl. Raya Jaya No. 45     Perempuan  48000.000000       False
2  Michael    35        Jl. Harmoni 5A     Laki-laki  67000.000000        True
3     Emma    30         Jl. Cendana 8     Perempuan  60000.000000        True
4    David    22          Jl. Indah 12     Laki-laki  61428.571429       False
5    Alice    25   Jl. Jalan Jalan 123     Perempuan  61428.571429       False
6      Bob    31     Jl. Boulevard 567     Laki-laki  70000.000000        True
7      Eva    29      Jl. Pahlawan 789     Perempuan  55000.000000       False
8    Frank    38         Jl. Rukun 101     Laki-laki  75000.000000        True

In [167]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Label Encoding pada kolom "Jenis Kelamin"
label_encoder = LabelEncoder()
df['Jenis Kelamin'] = label_encoder.fit_transform(df['Jenis Kelamin'])

# One-Hot Encoding pada kolom "Jenis Kelamin"
onehot_encoder = OneHotEncoder()
jenis_kelamin_encoded = onehot_encoder.fit_transform(df['Jenis Kelamin'].values.reshape(-1, 1)).toarray()
df_jenis_kelamin_encoded = pd.DataFrame(jenis_kelamin_encoded, columns=['Jenis Kelamin_' + str(int(i)) for i in range(jenis_kelamin_encoded.shape[1])])
df = pd.concat([df, df_jenis_kelamin_encoded], axis=1)

# Menghapus kolom "Jenis Kelamin" asli
df.drop(['Jenis Kelamin'], axis=1, inplace=True)
print(df)

      Nama  Usia                Alamat    Pendapatan  Pernikahan  \
0     John    28   Jl. Merdeka No. 123  55000.000000        True
1    Sarah    24  Jl. Raya Jaya No. 45  48000.000000       False
2  Michael    35        Jl. Harmoni 5A  67000.000000        True
3     Emma    30         Jl. Cendana 8  60000.000000        True
4    David    22          Jl. Indah 12  61428.571429       False
5    Alice    25   Jl. Jalan Jalan 123  61428.571429       False
6      Bob    31     Jl. Boulevard 567  70000.000000        True
7      Eva    29      Jl. Pahlawan 789  55000.000000       False
8    Frank    38         Jl. Rukun 101  75000.000000        True

   Jenis Kelamin_0  Jenis Kelamin_1
0              1.0              0.0
1              0.0              1.0
2              1.0              0.0
3              0.0              1.0
4              1.0              0.0
5              0.0              1.0
6              1.0              0.0
7              0.0              1.0
8              1.0              0.0

In [168]:
# teknik lain encode "jenis kelamin langsung tanpa labeling"
from sklearn.preprocessing import OneHotEncoder

data = {
    'Nama': ['John', 'Sarah', 'Michael', 'Emma', 'David', 'Alice', 'Bob', 'Eva', 'Frank'],
    'Usia': [28, 24, 35, 30, 22, 25, 31, 29, 38],
    'Alamat': ['Jl. Merdeka No. 123', 'Jl. Raya Jaya No. 45', 'Jl. Harmoni 5A', 'Jl. Cendana 8', 'Jl. Indah 12',
               'Jl. Jalan Jalan 123', 'Jl. Boulevard 567', 'Jl. Pahlawan 789', 'Jl. Rukun 101'],
    'Jenis Kelamin': ['Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki',
                      'Perempuan', 'Laki-laki'],
    'Pendapatan': [55000.0, 48000.0, 67000.0, 60000.0, np.nan, np.nan, 70000.0, 55000.0, 75000.0],
    'Pernikahan': [True, False, True, True, False, False, True, False, True]
}

df = pd.DataFrame(data)

# Inisialisasi OneHotEncoder
onehot_encoder = OneHotEncoder(sparse=False)

# Melakukan One-Hot Encoding pada kolom "Jenis Kelamin"
jenis_kelamin_encoded = onehot_encoder.fit_transform(df[['Jenis Kelamin']])

# Membuat DataFrame baru dari hasil encoding dengan nama kolom yang lebih deskriptif
df_jenis_kelamin_encoded = pd.DataFrame(jenis_kelamin_encoded, columns=['Perempuan', 'Laki-laki'])

# Menggabungkan DataFrame hasil encoding dengan DataFrame asli
df = pd.concat([df, df_jenis_kelamin_encoded], axis=1)

# Menghapus kolom "Jenis Kelamin" asli
df.drop(['Jenis Kelamin'], axis=1, inplace=True)

# Menampilkan DataFrame yang sudah di One-Hot Encoded
print(df)

      Nama  Usia                Alamat  Pendapatan  Pernikahan  Perempuan  \
0     John    28   Jl. Merdeka No. 123     55000.0        True        1.0
1    Sarah    24  Jl. Raya Jaya No. 45     48000.0       False        0.0
2  Michael    35        Jl. Harmoni 5A     67000.0        True        1.0
3     Emma    30         Jl. Cendana 8     60000.0        True        0.0
4    David    22          Jl. Indah 12         NaN       False        1.0
5    Alice    25   Jl. Jalan Jalan 123         NaN       False        0.0
6      Bob    31     Jl. Boulevard 567     70000.0        True        1.0
7      Eva    29      Jl. Pahlawan 789     55000.0       False        0.0
8    Frank    38         Jl. Rukun 101     75000.0        True        1.0

   Laki-laki
0        0.0
1        1.0
2        0.0
3        1.0
4        0.0
5        1.0
6        0.0
7        1.0
8        0.0

In [169]:
# Perbedaannya terletak pada langkah pertama. Code 1 melakukan Label Encoding terlebih dahulu untuk mengubah nilai menjadi angka, 
# sedangkan Code 2 langsung menerapkan One-Hot Encoding tanpa perlu mengubah menjadi angka terlebih dahulu.

In [170]:
# Code 2 lebih sederhana dan umumnya disarankan jika Anda ingin melakukan One-Hot Encoding, 
# terutama jika Anda memiliki kolom kategorikal dengan dua nilai unik (binary) seperti "Perempuan" dan "Laki-laki". Code 2 secara otomatis akan menghasilkan kolom dengan nama yang lebih deskriptif, sehingga lebih mudah dipahami.